main {
  padding: 20px;
}

h1 {
  text-align: center;
  font-size: 24px;
  margin-bottom: 20px;
}

.info-section {
  display: flex;
  align-items: center;
  margin: 20px 0;
}

.info-section.blue-background {
  background-color: #0085FF44;
}

.info-text {
  flex: 1;
}

.info-image {
  width: 50%;
}

.info-section img {
  max-width: 100%;
  height: auto;
}
